[project]
	description = This is a repository for html5 practice.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yang Hwan-Hee (twityhwan)
[access "refs/for/refs/*"]
	read = group user/Yang Hwan-Hee (twityhwan)
	push = group user/Yang Hwan-Hee (twityhwan)
	label-Code-Review = -2..+2 group user/Yang Hwan-Hee (twityhwan)
	label-Verified = -1..+1 group user/Yang Hwan-Hee (twityhwan)
	rebase = group user/Yang Hwan-Hee (twityhwan)
	removeReviewer = group user/Yang Hwan-Hee (twityhwan)
	submit = group user/Yang Hwan-Hee (twityhwan)
[access "refs/heads/*"]
	read = group user/Yang Hwan-Hee (twityhwan)
	create = group user/Yang Hwan-Hee (twityhwan)
	push = +force group user/Yang Hwan-Hee (twityhwan)
	pushMerge = group user/Yang Hwan-Hee (twityhwan)
[access "refs/tags/*"]
	push = group user/Yang Hwan-Hee (twityhwan)
	push = +force group user/Yang Hwan-Hee (twityhwan)
